[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = { extras = ["standard"], version = "*" }
alembic = "*"
sqlalchemy = "*"
asyncpg = "*"
pydantic = { extras = ["dotenv"], version = "*" }
pyjwt = "*"
passlib = "*"
fastapi = "*"
bcrypt = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
coverage = { extras = ["toml"], version = "*" }
alembic-autogen-check = "*"
black = "*"

[requires]
python_version = "3"
